.page-login {
  .header-image {
      background-color: map-get($colors, primary);
      height: 40vh;
      background-size: cover;
      background-position: center center;
      position: relative;
      z-index: -1;
  }
  .main-content {
      margin-top: -15vh;
      margin-left: 5vw;
      margin-right: 5vw;
      padding: 20px;
      background-color: white;
      -webkit-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
      position: relative !important;
  }
  .circular {
      width: 100px;
      height: 100px;
      position: inherit;
      border-radius: 50%;
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;
      border: solid white;
      background: url(../../assets/img/logo.png) no-repeat;
      background-size: 100%;
      margin-top: -70px;
      margin-left: auto;
      margin-right: auto;
  }
  ion-item {
      border-radius: 2px !important;
      background-color: map-get($colors, light) !important;
  }
  .item-inner {
      border-bottom: 0 !important;
      box-shadow: none !important;
  }
  .divider {
    hr {
      border-top: 1px solid map-get($colors, mdc-grey);
    }
    p {
      text-align: center;
      color: map-get($colors, mdc-grey);
    }
  }
}
