<ion-header>
  <ion-navbar [mode]="platform.is('ios') ? 'ios' : 'md'" color="primary">
    <ion-buttons start>
      <button ion-button icon-only (click)="onDismiss()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onDismiss()">
        <ion-icon ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div text-center class="profile-header">
    <img [src]="'assets/img/user-avatar-white.png'" [alt]="'João Silva'">
  </div>
  <form novalidate>
    <ion-list>
      <ion-item-divider color="light">Meus Dados</ion-item-divider>
      <ion-item>
        <ion-label stacked color="dark">Nome</ion-label>
        <ion-input type="text" placeholder="Ex. Daerp"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="dark">E-mail</ion-label>
        <ion-input type="email" placeholder="Ex. orgao@gmail.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="dark">CNPJ</ion-label>
        <ion-input type="email" placeholder="Ex. 027.349.678-22"></ion-input>
      </ion-item>
    </ion-list>
    <ion-grid padding>
      <ion-row>
        <ion-col col-6>
          <button ion-button icon-left color="light" (click)="onLogin(false)">
            <ion-icon name="create"></ion-icon>
            Criar
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button icon-left color="primary" (click)="onLogin(true)">
            <ion-icon name="log-in"></ion-icon>
            Login
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-grid padding>
    <ion-row text-center class="divider">
      <ion-col col-5><hr></ion-col>
      <ion-col col-2>
        <p color="mdc-grey"><strong>OU</strong></p>
      </ion-col>
      <ion-col col-5><hr></ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col col-3>
        <button ion-button icon-only color="twitter">
          <ion-icon name="logo-twitter"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-3>
        <button ion-button icon-only color="instagram">
          <ion-icon name="logo-instagram"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-3>
        <button ion-button icon-only color="facebook">
          <ion-icon name="logo-facebook"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-3>
        <button ion-button icon-only color="google">
          <ion-icon name="logo-google"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

