page-perfil {
  ion-content {
    button {
      width: 100%;
    }
    .profile-header {
      padding: 20px 0px;
      background: map-get($colors, primary);
      img {
        border: 5px double #eeeeee;
        border-radius: 50%;
        padding: 2px;
        color: #000;
        background-color: map-get($colors, primary);
        max-width: 100px;
      }
    }
    ion-label {
      font-size: 0.875em;
    }
    .divider {
      hr {
        border-top: 1px solid map-get($colors, mdc-grey);
      }
      p {
        text-align: center;
      }
    }
  }
}
