<ion-content>
  <ion-tabs>
    <ion-tab [root]="'MapPage'" tabTitle="Mapa" tabIcon="map"></ion-tab>
    <ion-tab [root]="'ResumoPage'" tabTitle="Resumo" tabIcon="apps"></ion-tab>
    <ion-tab [root]="'GraficoPage'" tabTitle="Gráfico" tabIcon="stats"></ion-tab>
    <ion-tab [root]="'BuscarPage'" tabTitle="Buscar" tabIcon="search"></ion-tab>
    <ion-tab [root]="'NotificacaoPage'" tabTitle="Notificação" tabIcon="notifications"></ion-tab>
  </ion-tabs>
</ion-content>
