<!-- <ion-header>
  <ion-navbar>
    <ion-title>Histórico</ion-title>
    <ion-buttons end>
      <button ion-button (click)="onDismiss()">
        Encerrar
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header> -->

<ion-content padding>

</ion-content>
