<ion-list>
  <ion-item-group>
    <ion-item-divider color="light" sticky>{{ title }}</ion-item-divider>
    <button ion-item *ngFor="let item of items" (click)="onSelect(item)">
        <ion-icon [name]="item.icone" item-left *ngIf="item.icone"></ion-icon>
        {{ item.descricao }}
      </button>
  </ion-item-group>
</ion-list>
