<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mapa</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
          <ion-icon ios="ios-options" md="md-options"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="map-page">
  <div style="height: 100%; width: 100%" #mapCanvas id="map_canvas"></div>
</ion-content>

