page-sobre {
  .about-header {
    background-color: color($colors, primary);
    padding: 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    img {
      max-width: 100px;
      max-height: 100px;
    }
  }
  [text-center] {
    padding: 10px 0px;
  }
  ion-item>ion-icon {
    color: color($colors, primary);
    width: 20px;
  }
}
