<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Resumo</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
          <ion-icon ios="ios-options" md="md-options"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content>
