<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ocorrência</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onPresentOptions($event)">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar color="primary" [(ngModel)]="filter.query" [placeholder]="filter.placeholder" (ionInput)="onSearch()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-grid fixed no-padding>
      <ion-row align-items-stretch>

        <ion-col col-6 col-md-4 align-self-stretch align-self-center *ngFor="let item of list">

          <ion-card>
            <ion-item>
              <ion-avatar item-start>
                <img src="assets/img/img-placeholder.png">
              </ion-avatar>
              <h2>Água e esgoto</h2>
              <p>Falta de saneamento básico</p>
              <ion-note item-end>01/01/2017</ion-note>
            </ion-item>
            <img src="assets/img/img-placeholder.png">
            <ion-row>
              <ion-col>
                <button ion-button icon-left clear small (click)="onOpenDetalhes()">
                    <ion-icon name="open"></ion-icon>
                    Abrir
                </button>
              </ion-col>
              <ion-col>
                <button ion-button clear small color="danger">
                  {{ item + 16 }} registro(s)
                </button>
              </ion-col>
            </ion-row>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

</ion-content>