<ion-header>
  <ion-navbar>
    <ion-title>Ocorrência</ion-title>
    <ion-buttons end>
      <button ion-button (click)="onDismiss()">
        Encerrar
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-tabs>
    <ion-tab [root]="'DetalhePage'" tabTitle="Detalhe" tabIcon="list-box"></ion-tab>
    <ion-tab [root]="'AgendamentoPage'" tabTitle="Agendamento" tabIcon="calendar"></ion-tab>
    <ion-tab [root]="'HistoricoPage'" tabTitle="Histórico" tabIcon="clock"></ion-tab>
    <ion-tab [root]="'ChatPage'" tabTitle="Chat" tabIcon="chatboxes"></ion-tab>
    <ion-tab [root]="'NotificacaoOcorrenciaPage'" tabTitle="Notificação" tabIcon="notifications"></ion-tab>
  </ion-tabs>
</ion-content>
