<!-- <ion-header>
  <ion-navbar>
    <ion-title>Detalhe</ion-title>
    <ion-buttons end>
      <button ion-button (click)="onDismiss()">
        Encerrar
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header> -->
<ion-content no-padding>
  <ion-list>
    <ion-card>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/img-placeholder.png">
        </ion-avatar>
        <h2>João Jose</h2>
        <p>(16) 9 9999-9999</p>
        <p item-end>01/01/2017</p>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/img-placeholder.png">
        </ion-avatar>
        <h2>Água e esgoto</h2>
        <p>Falta de saneamento básico</p>
        <button ion-button icon-only clear item-end>
          <ion-icon name="md-create"></ion-icon>
        </button>
      </ion-item>
    </ion-card>

    <ion-card>
      <img src="assets/img/map.png">
      <ion-card-content>
        <p>Rua visconde de inhumirim, 999, Vila Virginia, Ribeirão Preto - SP</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="assets/img/img-placeholder.png">
      <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              Incluir nova
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-right clear small color="danger">
              Excluir selecionda(s)
            </button>
          </ion-col>
        </ion-row>
    </ion-card>

    <ion-card>
      <ion-item>
        <h2>Observação</h2>
        <button ion-button icon-only clear item-end>
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-item>
      <ion-list>
          <ion-item>
            <p>Lorem ipsum dolor sit amet, consectetur Adipiscing</p>
            <ion-note item-end>01/01/2017</ion-note>
          </ion-item>
          <ion-item>
            <p>Elit duis quis dolor et neque maximus dignissim.</p>
            <ion-note item-end>01/01/2017</ion-note>
          </ion-item>
          <ion-item>
              <p>Lorem ipsum dolor sit amet, consectetur Adipiscing</p>
            <ion-note item-end>01/01/2017</ion-note>
          </ion-item>
          <ion-item>
              <p>Elit duis quis dolor et neque maximus dignissim.</p>
            <ion-note item-end>01/01/2017</ion-note>
          </ion-item>
        </ion-list>
    </ion-card>

    <ion-item>
      <ion-label>Mostra meu nome como anônimo</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>

    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <button ion-button block color="primary">Contato</button>
            </ion-col>
            <ion-col col-2></ion-col>
            <ion-col col-2>
                <button ion-button icon-only outline color="danger">
                    <ion-icon name="thumbs-down"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-2>
                <button ion-button icon-only outline color="danger">
                    <ion-icon name="thumbs-up"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>

  </ion-list>

</ion-content>