<ion-header no-border>
  <ion-navbar [mode]="platform.is('ios') ? 'ios' : 'md'" color="primary">
    <ion-title>Ajuda</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onDismiss()">
          <ion-icon ios="ios-close" md="md-close"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-1.png" class="slide-image" />
      <h2 class="slide-title">
          Donec a <b>Olhar Cidadão</b>
      </h2>
      <p><b>Lorem Ipsum</b> dolor sit amet, <strong>Consectetur Adipiscing</strong> elit. 
        Aliquam venenatis justo ante, nec <strong>Egestas</strong> ante <strong>Feugiat</strong> at.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-2.png" class="slide-image" />
      <h2 class="slide-title">Curabitur interdum ligula</h2>
      <p><b>Lorem Ipsum</b> dolor sit amet, <strong>Consectetur Adipiscing</strong> elit. 
        Aliquam venenatis justo ante, nec <strong>Egestas</strong> ante <strong>Feugiat</strong> at.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-3.png" class="slide-image" />
      <h2 class="slide-title">Fusce at dictum neque</h2>
      <p><b>Lorem Ipsum</b> dolor sit amet, <strong>Consectetur Adipiscing</strong> elit. 
        Aliquam venenatis justo ante, nec <strong>Egestas</strong> ante <strong>Feugiat</strong> at.</p>
    </ion-slide>

  </ion-slides>
</ion-content>